<ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
				<ion-row>
					<ion-col col-10 class="headerTitle"><div align="center">View Cart</div></ion-col>
					<ion-col col-2 class="badgeCol">
						<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
						<span class="badgeIcon"> {{ cartItemsLen }}</span>
						<ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page4">

	<div style="vertical-align: middle;margin-top: 15vh;margin-bottom: 20vh;" align="center" *ngIf="cartItems.length == 0">
		<img src="assets/imgs/tired.png" style="max-height: 15vh;width: auto;">
		<h2 class="view-cart-oop">Ouuppss !!!</h2>
		<h3 class="view-cart-emplty" >Your cart is empty</h3>
		<h5 class="view-cart-sel-pro">Please select the products</h5>
		<div align="center">
			<button id="login-button1" ion-button color="secondary" (click)="openShopPage()" style="margin: 1vh;width: 80%;height: 3.5em;">
				Back to Shop
			</button>
		</div>
	</div>


	<div *ngIf="cartItems.length > 0">
		<div align="center">
			<div class="checkout-wrap">
				<ul class="checkout-bar">
					<li class="visited first"></li>
					<li class="previous"></li>
					<li class=""></li>
				</ul>
			</div>
		</div>
		<br>
		<!--<h3 align="center" style="margin-top: 3vh;">You have total {{ cartItems.length }} product in basket.</h3>-->
		<hr>
		<ion-list>
			<ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;" *ngFor="let product of cartItems">
				<ion-thumbnail item-start>
					<img src="{{ product.product_image }}">
				</ion-thumbnail>
				<h2><b>{{ product.product_name }}</b></h2>
				<br>
				<p>
					<!-- <b>Price:</b> -->
					<span *ngIf="product.qty == 1" style="color:#32db64;font-weight: bold;" [innerHtml]="currencySymbol">{{ currencyName }}</span>
					<span *ngIf="product.qty == 1" class="text-green-fam" style="font-weight: bold;">{{ product.product_prices }}</span>

					<span *ngIf="product.qty > 1" [innerHtml]="currencySymbol">{{ currencyName }}</span>
					<span *ngIf="product.qty > 1">{{ product.product_prices }}</span>

					<span *ngIf="product.qty > 1" style="color:#32db64;font-weight: bold;margin-left: 1vh;" [innerHtml]="currencySymbol">{{ currencyName }}</span>

					<span *ngIf="product.qty > 1" style="color:#32db64;font-weight: bold;">{{ (product.product_prices * product.qty).toFixed(2) }}</span>

				</p>
				<!-- <p>
                    <b>Total:</b>
                    <span [innerHtml]="currencySymbol">{{ currencyName }}</span>
                    {{ (product.product_prices * product.qty).toFixed(2) }}
                </p> -->
				<div item-end>
					<button style="float: right;" color="danger" ion-button clear data-id="{{ product.product_id }}" (click)="removeItem(product.product_id)"><ion-icon name="close"></ion-icon></button><br>
					<div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
						<!--<ion-icon (click)="addProductToCart(product,'remove')" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="remove" class="text-bold"></ion-icon>-->
						<ion-icon (click)="addProductToCart(product,'remove')" style="" name="remove" class="view-cart-qty-minus" ></ion-icon>
						<p style="margin: 0.1em 1em;" class="text-bold">{{ product.qty }}</p>
						<ion-icon (click)="addProductToCart(product,'add')" color="secondary" class="view-cart-qty-plus" style="" name="add"></ion-icon>
					</div>
				</div>
			</ion-item>

			<!-- <ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/slide3.png">
                </ion-thumbnail>
                <h2>Product 2</h2>
                <br>
                <p>Hayao Miyazaki • 1988</p>
                <div item-end>
                    <button style="float: right;" color="danger" ion-button clear><ion-icon name="close"></ion-icon></button><br>

                    <div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
                        <ion-icon (click)="subQty(2)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="remove"></ion-icon>
                        <p style="margin: 0.1em 1em;">{{ qty2 }}</p>
                        <ion-icon (click)="addQty(2)" color="secondary" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="add"></ion-icon>
                    </div>

                </div>
              </ion-item>

              <ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;">
                <ion-thumbnail item-start>
                  <img src="assets/imgs/slide3.png">
                </ion-thumbnail>
                <h2>Product 3</h2>
                <br>
                <p>Hayao Miyazaki • 1988</p>
                <div item-end>
                    <button style="float: right;" color="danger" ion-button clear><ion-icon name="close"></ion-icon></button><br>

                    <div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
                        <ion-icon (click)="subQty(3)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="remove"></ion-icon>
                        <p style="margin: 0.1em 1em;">{{ qty3 }}</p>
                        <ion-icon (click)="addQty(3)" color="secondary" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="add"></ion-icon>
                    </div>

                </div>
              </ion-item> -->
		</ion-list>

		<ion-grid style="margin-bottom: 10vh;">
            <div class="fixed-outside view-cart-pc-text"  align="center">
                <h5 class="view-cart-pc-text2 view-cart-sel-pro" align="center">If you have any promo code <a class="text-green-fam" (click)="showPromocodePrompt()">click here</a></h5>
            </div>
			<ion-row>
				<ion-col col-6>
					<h5 item-start class="text-navyblue-fam">Subtotal:</h5>
					<h5 item-start class="text-navyblue-fam">Services Fees:</h5>
					<h5 item-start class="text-navyblue-fam">Promo Code:</h5>
				</ion-col>
				<ion-col col-6>
					<h5 item-start align="right" class="text-navyblue-fam">
                        {{ cartTotal }}<span [innerHtml]="currencySymbol" >{{ currencyName }}</span>

					</h5>
					<h5 item-start align="right" class="text-navyblue-fam">
                        {{ serviceFee }}<span [innerHtml]="currencySymbol" >{{ currencyName }}</span>

					</h5>
					<h5 item-start align="right" class="text-red" > -
                        {{ promoDiscount }}<span [innerHtml]="currencySymbol" >{{ currencyName }}</span>
					</h5>
				</ion-col>
			</ion-row>
		</ion-grid>

		<!-- <div>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <h4>You have <a>3 Items</a> In your cart.</h4>
                    </ion-col>
                    <ion-col col-4>
                        <button ion-button color="secondary" (click)="checkoutOrder()">
                            Checkout
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-list>
                <ion-card>
                    <img src="assets/imgs/slide3.png"/>
                    <ion-card-content>
                        <ion-card-title>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-10>
                                        Product 1
                                    </ion-col>
                                    <ion-col col-2 style="text-align: -webkit-center;">
                                        <span style="text-align: center;font-size: 14px;">
                                            <ion-icon name="trash"></ion-icon>
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-title>
                        <p>
                            The most popular industrial group ever, and largely
                            responsible for bringing the music to a mass audience.
                        </p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 style="display: flex;">
                                    <ion-icon (click)="subQty(1)" name="remove" style="margin: 1.4vh;"></ion-icon>
                                    <ion-input type="number" name="qty1" [(ngModel)]="qty1" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
                                    <ion-icon (click)="addQty(1)" name="add" style="margin: 1.4vh;"></ion-icon>
                                </ion-col>
                                <ion-col col-6 item-end style="text-align: -webkit-right;">
                                    <span>Price: $19.88</span><br>
                                    <span>Total: $19.88</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>

                <ion-card>
                    <img src="assets/imgs/slide3.png"/>
                    <ion-card-content>
                        <ion-card-title>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-10>
                                        Product 2
                                    </ion-col>
                                    <ion-col col-2 style="text-align: -webkit-center;">
                                        <span style="text-align: center;font-size: 14px;">
                                            <ion-icon name="trash"></ion-icon>
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-title>
                        <p>
                            The most popular industrial group ever, and largely
                            responsible for bringing the music to a mass audience.
                        </p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 style="display: flex;">
                                    <ion-icon (click)="subQty(2)" name="remove" style="margin: 1.4vh;"></ion-icon>
                                    <ion-input type="number" name="qty2" [(ngModel)]="qty2" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
                                    <ion-icon (click)="addQty(2)" name="add" style="margin: 1.4vh;"></ion-icon>
                                </ion-col>
                                <ion-col col-6 item-end style="text-align: -webkit-right;">
                                    <span>Price: $12.98</span><br>
                                    <span>Total: $12.98</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>

                <ion-card>
                    <img src="assets/imgs/slide3.png"/>
                    <ion-card-content>
                        <ion-card-title>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-10>
                                        Product 3
                                    </ion-col>
                                    <ion-col col-2 style="text-align: -webkit-center;">
                                        <span style="text-align: center;font-size: 14px;">
                                            <ion-icon name="trash"></ion-icon>
                                        </span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-title>
                        <p>
                            The most popular industrial group ever, and largely
                            responsible for bringing the music to a mass audience.
                        </p>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 style="display: flex;">
                                    <ion-icon (click)="subQty(3)" name="remove" style="margin: 1.4vh;"></ion-icon>
                                    <ion-input type="number" name="qty3" [(ngModel)]="qty3" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
                                    <ion-icon (click)="addQty(3)" name="add" style="margin: 1.4vh;"></ion-icon>
                                </ion-col>
                                <ion-col col-6 item-end style="text-align: -webkit-right;">
                                    <span>Price: $198.8</span><br>
                                    <span>Total: $198.8</span>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-list>

            <hr>

            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <h5 item-start>Subtotal</h5>
                    </ion-col>
                    <ion-col col-6>
                        <h5 item-start align="right">$231.60</h5>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <hr>
            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <h5 item-start>Shipping</h5>
                    </ion-col>
                    <ion-col col-6>
                        <h5 item-start align="right">$8.40</h5>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <hr>

            <ion-grid>
                <ion-row>
                    <ion-col col-6>
                        <h3 item-start>Total</h3>
                    </ion-col>
                    <ion-col col-6>
                        <h3 item-start align="right">$240.00</h3>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div> -->


		<!--<div class="fixed-outside" style="position: fixed;bottom: 0;left: 0;width: 100%;display: inline-flex;" align="center">-->

		<div class="fixed-outside" style="position: fixed;bottom: 0;left: 0;width: 100%;display: inline-flex;" align="center">
			<button class="button-md-height" color="secondary" ion-button block style="background: #3b5998;height: 2.1em;width:50%;margin-bottom: 0px;text-transform: none;font-size: 20px;font-weight: bold;">Total: <span [innerHtml]="currencySymbol">{{ currencyName }}</span> {{ totalPrice }}</button>
			<!--<button class="button-md-height" color="secondary" ion-button icon-right block style="height: 2.1em;width:100%;margin-bottom: 0px;text-transform: none;font-size: 20px;font-weight: bold;" (click)="checkoutOrder()">Checkout <ion-icon name="arrow-forward"></ion-icon></button>-->
            <button class="button-md-height" color="secondary" ion-button icon-right block style="height: 2.1em;width:50%;margin-bottom: 0px;text-transform: none;font-size: 20px;font-weight: bold;" (click)="checkoutOrder()">Checkout
                <ion-icon name="arrow-forward" icon-right align="right"></ion-icon>
            </button>
		</div>


	</div>

</ion-content>