page-my-cart {

}

ion-icon {
	font-size: 1.8em;
}





/* Progresss bar design*/


.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: auto auto;
  max-width: 1200px;
  position: relative;
}

.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
.checkout-bar li:before {
  /*-webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);*/
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
.checkout-bar li.visited {
  background: #ECECEC;
  color: #32DB64;
  z-index: 99999;
}
.checkout-bar li.visited:before {
  background: #32DB64;
  z-index: 99999;
}
.checkout-bar li:nth-child(1):before {
  content: "o"; /*1*/
}
.checkout-bar li:nth-child(2):before {
  content: "o"; /*2*/
}
.checkout-bar li:nth-child(3):before {
  content: "o"; /*3*/
}
.checkout-bar li:nth-child(4):before {
  content: "o"; /*4*/
}
.checkout-bar li:nth-child(5):before {
  content: "o"; /*5*/
}
.checkout-bar li:nth-child(6):before {
  content: "o"; /*6*/
}
.checkout-bar a {
  color: #32DB64;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

/*@media all and (min-width: 800px) {*/
  .checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: #8bc53f;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -50px;
    z-index: 0;
    border-radius: 15px;
  }

  .checkout-wrap {
    margin-top: 5vh;
    margin-left: 6vh;
  }

  .checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 80%;
  }
  .checkout-bar:before {
    background-size: 35px 35px;
    background-color: #32DB64;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 30%;
  }
  .checkout-bar li {
    display: inline-block;
    margin: 50px 0 0;
    padding: 0;
    text-align: center;
    width: 28%;
  }
  .checkout-bar li:before {
    height: 20px;
    left: 40%;
    line-height: 20px;
    position: absolute;
    top: -8.6vh;
    width: 20px;
    z-index: 99;
  }
  .checkout-bar li.visited {
    background: none;
  }
  .checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: #32DB64;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 99;
  }
/*}*/
