<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="buttonWhiteFont">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-grid>
    		<ion-row>
    			<ion-col col-8 class="headerTitle">My Cart</ion-col>
    			<ion-col col-4><ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon></ion-col>
    		</ion-row>
    	</ion-grid>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
	<div style="vertical-align: middle;margin-top: 20vh;margin-bottom: 20vh;" align="center">
		<img src="assets/imgs/tired.png" style="max-height: 15vh;width: auto;">
		<!-- <ion-card> -->
		  <!-- <ion-card-content> -->
		    <!-- <ion-card-title> -->
		      <!-- You have no item in your cart. -->
		      <h2>Ouuppss !!!</h2>
		      <h3 style="color: darkblue;">Your card is empty</h3>
		      <br>
		      <br>
		      <p>Please select the products</p>
		      <!-- </ion-card-title> -->
		  <!-- </ion-card-content> -->
		  <div align="center">
			<button id="login-button1" ion-button color="secondary" (click)="goToHome()" style="margin: 1vh;width: 80%;height: 3.5em;">
				Back to Shop
			</button>
		</div>
		<!-- </ion-card>		 -->
	</div>


	<ion-list>
  <ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;">
    <ion-thumbnail item-start>
      <img src="assets/imgs/slide3.png">
    </ion-thumbnail>
    <h2>Product 1</h2>
    <br>
    <p>Hayao Miyazaki • 1988</p>
    <div item-end>
    	<button style="float: right;" ion-button clear><ion-icon name="trash"></ion-icon></button><br>
    	<div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
			<ion-icon (click)="subQty(1)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="remove"></ion-icon>
			<ion-label style="margin: 0 1em;">{{ qty1 }}</ion-label>
			<ion-icon (click)="addQty(1)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="add"></ion-icon>
    	</div>
    </div>
  </ion-item>

  <ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;">
    <ion-thumbnail item-start>
      <img src="assets/imgs/slide3.png">
    </ion-thumbnail>
    <h2>Product 2</h2>
    <br>
    <p>Hayao Miyazaki • 1988</p>
    <div item-end>
    	<button style="float: right;" ion-button clear><ion-icon name="trash"></ion-icon></button><br>
    	<div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
			<ion-icon (click)="subQty(2)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;font-size: 1em;border: 1px solid;border-radius: 50%;" name="remove"></ion-icon>
			<ion-label style="margin: 0 1em;">{{ qty2 }}</ion-label>
			<ion-icon (click)="addQty(2)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="add"></ion-icon>
    	</div>
    </div>
  </ion-item>

  <ion-item style="border: 1px solid #eee; padding: 1px;margin: 1vh auto;">
    <ion-thumbnail item-start>
      <img src="assets/imgs/slide3.png">
    </ion-thumbnail>
    <h2>Product 3</h2>
    <br>
    <p>Hayao Miyazaki • 1988</p>
    <div item-end>
    	<button style="float: right;" ion-button clear><ion-icon name="trash"></ion-icon></button><br>
    	<div style="float: right;display: -webkit-inline-box;margin-top: 3vh;">
			<ion-icon (click)="subQty(3)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;font-size: 1em;border: 1px solid;border-radius: 50%;" name="remove"></ion-icon>
			<ion-label style="margin: 0 1em;">{{ qty3 }}</ion-label>
			<ion-icon (click)="addQty(3)" style="padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;" name="add"></ion-icon>
    	</div>
    </div>
  </ion-item>
</ion-list>

<ion-grid>
			<ion-row>
			    <ion-col col-6>
				    <h5 item-start>Subtotal</h5>
				    <h5 item-start>Services Fees</h5>
				    <h5 item-start>Promocode</h5>
				</ion-col>
				<ion-col col-6>
			    	<h5 item-start align="right">$231.60</h5>
			    	<h5 item-start align="right">$231.60</h5>
			    	<h5 item-start align="right">-$2.60</h5>
			    </ion-col>
			</ion-row>
		</ion-grid>

	<!-- <div>
		<ion-grid>
			<ion-row>
			    <ion-col col-8>
				    <h4>You have <a>3 Items</a> In your cart.</h4>
				</ion-col>
				<ion-col col-4>
			    	<button ion-button color="secondary" (click)="checkoutOrder()">
						Checkout
					</button>
			    </ion-col>
			</ion-row>
		</ion-grid>

		<ion-list>
			<ion-card>
				<img src="assets/imgs/slide3.png"/>
				<ion-card-content>
					<ion-card-title>
						<ion-grid>
							<ion-row>
								<ion-col col-10>
									Product 1
								</ion-col>
								<ion-col col-2 style="text-align: -webkit-center;">
									<span style="text-align: center;font-size: 14px;">
										<ion-icon name="trash"></ion-icon>
									</span>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-title>
					<p>
						The most popular industrial group ever, and largely
						responsible for bringing the music to a mass audience.
					</p>
					<ion-grid>
						<ion-row>
							<ion-col col-6 style="display: flex;">
								<ion-icon (click)="subQty(1)" name="remove" style="margin: 1.4vh;"></ion-icon>
								<ion-input type="number" name="qty1" [(ngModel)]="qty1" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
								<ion-icon (click)="addQty(1)" name="add" style="margin: 1.4vh;"></ion-icon>
							</ion-col>
							<ion-col col-6 item-end style="text-align: -webkit-right;">
								<span>Price: $19.88</span><br>
								<span>Total: $19.88</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>

			<ion-card>
				<img src="assets/imgs/slide3.png"/>
				<ion-card-content>
					<ion-card-title>
						<ion-grid>
							<ion-row>
								<ion-col col-10>
									Product 2
								</ion-col>
								<ion-col col-2 style="text-align: -webkit-center;">
									<span style="text-align: center;font-size: 14px;">
										<ion-icon name="trash"></ion-icon>
									</span>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-title>
					<p>
						The most popular industrial group ever, and largely
						responsible for bringing the music to a mass audience.
					</p>
					<ion-grid>
						<ion-row>
							<ion-col col-6 style="display: flex;">
								<ion-icon (click)="subQty(2)" name="remove" style="margin: 1.4vh;"></ion-icon>
								<ion-input type="number" name="qty2" [(ngModel)]="qty2" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
								<ion-icon (click)="addQty(2)" name="add" style="margin: 1.4vh;"></ion-icon>
							</ion-col>
							<ion-col col-6 item-end style="text-align: -webkit-right;">
								<span>Price: $12.98</span><br>
								<span>Total: $12.98</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>

			<ion-card>
				<img src="assets/imgs/slide3.png"/>
				<ion-card-content>
					<ion-card-title>
						<ion-grid>
							<ion-row>
								<ion-col col-10>
									Product 3
								</ion-col>
								<ion-col col-2 style="text-align: -webkit-center;">
									<span style="text-align: center;font-size: 14px;">
										<ion-icon name="trash"></ion-icon>
									</span>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-card-title>
					<p>
						The most popular industrial group ever, and largely
						responsible for bringing the music to a mass audience.
					</p>
					<ion-grid>
						<ion-row>
							<ion-col col-6 style="display: flex;">
								<ion-icon (click)="subQty(3)" name="remove" style="margin: 1.4vh;"></ion-icon>
								<ion-input type="number" name="qty3" [(ngModel)]="qty3" style="padding: 0vh 1vh;background: gray;max-width: 30%;color: #FFF;"></ion-input>
								<ion-icon (click)="addQty(3)" name="add" style="margin: 1.4vh;"></ion-icon>
							</ion-col>
							<ion-col col-6 item-end style="text-align: -webkit-right;">
								<span>Price: $198.8</span><br>
								<span>Total: $198.8</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</ion-card-content>
			</ion-card>
		</ion-list>

		<hr>

		<ion-grid>
			<ion-row>
			    <ion-col col-6>
				    <h5 item-start>Subtotal</h5>
				</ion-col>
				<ion-col col-6>
			    	<h5 item-start align="right">$231.60</h5>
			    </ion-col>
			</ion-row>
		</ion-grid>

		<hr>
		<ion-grid>
			<ion-row>
			    <ion-col col-6>
				    <h5 item-start>Shipping</h5>
				</ion-col>
				<ion-col col-6>
				    <h5 item-start align="right">$8.40</h5>
			    </ion-col>
			</ion-row>
		</ion-grid>

		<hr>

		<ion-grid>
			<ion-row>
			    <ion-col col-6>
				    <h3 item-start>Total</h3>
				</ion-col>
				<ion-col col-6>
			    	<h3 item-start align="right">$240.00</h3>
			    </ion-col>
			</ion-row>
		</ion-grid>

	</div> -->

</ion-content>