<!-- <ion-header style="background: #FFF;">
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
	    		<ion-row>
	    			<ion-col col-8 class="headerTitle">Login</ion-col>
	    			<ion-col col-4><ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon></ion-col>
	    		</ion-row>
	    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header> -->

<ion-content padding id="page5">

	<ion-grid>
		<ion-row>
			<ion-col col-2>
				<ion-icon color="secondary" name="arrow-back" (click)="goBack()" style="margin-top: 2vh;"></ion-icon>
			</ion-col>
			<ion-col col-8>
				<img src="assets/imgs/familov-logo.png" style="max-height: 10vh;">
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="spacer" style="height:20px;" id="login-spacer1"></div>
	<!-- <h2 align="center">Hi. Great to meet you.!</h2> -->
	<div align="center"><img src="assets/imgs/laugh.png" style="max-height: 10vh;" /></div>
	<!-- <br> -->
	<h2 align="center" class="textBlue">Good to see you again!</h2>
	<br>
	<!-- <div class="spacer" style="height:20px;" id="login-spacer2"></div> -->

	<form id="login-form1" (ngSubmit)="doLogin()">
		<ion-list id="login-list1">
			<ion-item class="item80" id="login-input1" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<ion-icon name="person" color="light"></ion-icon>
				</ion-label>
				<ion-input type="email" placeholder="E-mail" [(ngModel)]="loginData.email" name="email"></ion-input>
			</ion-item>
			<ion-item class="item80" id="login-input2" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<ion-icon name="lock" color="light"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="Your Password" [(ngModel)]="loginData.password" name="password"></ion-input>
			</ion-item>
		</ion-list>

		<div align="center" style="margin-top: 1vh;height: 5vh;">
			<div class="item80">
				<div style="float: left;">
					<ion-checkbox color="secondary" checked="false" style="position: absolute;"></ion-checkbox>
					<span class="remember-me">Remember Me</span>
				</div>
				<div class="forgot-password-link" id="forgotPassword" (click)="goToForgotPass()"><span>Forgot password?</span></div>
			</div>
		</div>
		<div align="center">
			<button class="item80 login-button" ion-button icon-end color="secondary" style="height: 4rem;" type="submit">
				Login
				<ion-icon name="arrow-round-forward"></ion-icon>
			</button>
		</div>

		<br>
		<p align="center">
			<b class="textBlue">Not Registered?</b>
			<a color="secondary" ion-button clear (click)="goToSignup()" style="margin-top: -3px;text-transform: none;">
				Sign up here
			</a>
		</p>		

	</form>
</ion-content>