<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Invite Your Friends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<h3 align="center" style="margin: 5vh auto;">Invite your friend to earn money.</h3>

  <!-- <button ion-button color="dark">Dark</button> -->

  <!-- <ion-item> -->
      <ion-input style="display: none;" value="http://103.21.58.248/familov/sign-up/referral58ef1d0f3f0d56.33885431" disabled></ion-input>
      <p align="center" style="background: lightgray;margin: 1vh;padding: 1vh;word-break: break-all;">http://103.21.58.248/familov/sign-up/referral58ef1d0f3f0d56.33885431</p>
  <!-- </ion-item> -->

  <div align="center">
      <button ion-button color="secondary">Copy the link</button>
  </div>

  <h3 align="center" style="margin: 5vh auto;">Or click to invite friends on Facebook</h3>

  <div align="center">
      <button ion-button color="secondary">Facebook</button>
  </div>

  <ion-grid style="margin: 2vh auto;">
      <div style="padding: 2vh;background: #EEE;" align="center">
        <ion-icon style="font-size: 3em;" name="cash"></ion-icon>
        <p>Your Win</p>
        <button ion-button round color="secondary">0.00</button>
      </div>
  </ion-grid>

  <ion-grid style="margin: 2vh auto;">
        <div style="padding: 2vh;background: #EEE;" align="center">
          <ion-icon style="font-size: 3em;" name="checkmark-circle-outline"></ion-icon>
          <p>You have used always</p>
          <button ion-button round color="secondary">0.00</button>
        </div>
  </ion-grid>

  <ion-grid style="margin: 2vh auto;">
        <div style="padding: 2vh;background: #EEE;" align="center">
          <ion-icon style="font-size: 3em;" name="logo-usd"></ion-icon>
          <p>Available for checkout</p>
          <button ion-button round color="secondary">0.00</button>
        </div>
  </ion-grid>


</ion-content>
