<ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
    		<ion-row>
    			<ion-col col-10 class="headerTitle">Forgot Password</ion-col>
    			<ion-col col-2 class="badgeCol">
					<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
					<span class="badgeIcon"> {{ cartItemsLen }}</span>
					<ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
    			</ion-col>
    		</ion-row>
    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page5">
	
	<div class="spacer" style="height:20px;" id="login-spacer1"></div>
	<h2 align="center">Enter your registered Email and we will email you a link to reset your password.</h2>
	<div class="spacer" style="height:20px;" id="login-spacer2"></div>

	<form id="login-form1">
		<ion-list id="login-list1">
			<ion-item id="login-input1">
				<ion-label floating>
					Email
				</ion-label>
				<ion-input type="email" placeholder=""></ion-input>
			</ion-item>
		</ion-list>

		<button id="login-button1" ion-button color="secondary" block>
			Confirm
		</button>
		
		<button id="login-button2" ion-button clear color="positive" block (click)="goToLogin()">
			Click here to Login
		</button>

	</form>
</ion-content>