<ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
    		<ion-row>
    			<ion-col col-10 class="headerTitle"><div align="center">Thank You</div></ion-col>
    			<ion-col col-2 class="badgeCol">
    				<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
    				<span class="badgeIcon"> {{ cartItemsLen }}</span>
					<ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
    			</ion-col>
    		</ion-row>
    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page5">
	
	<div class="spacer" style="height:30px;" id="login-spacer2"></div>

	<ion-card>
		<div align="center" style="padding: 10px;">
			<!-- <ion-icon name="checkmark-circle-outline" class="bigIcon"></ion-icon> -->
			<!-- <h1>Thank You</h1> -->
			<div align="center">
				<img src="assets/imgs/party (1).png" style="max-height: 15vh;max-width: 15vh;">
			</div>
			<h1 style="font-weight: bold;">Youpppiii!</h1>
			<br>
			<!-- <h3>Your placed has been placed successfully.You can track your shipment with the order id below.</h3><br> -->
			<h2 style="color: #051c46;font-weight: bold;">Your package for #ReceiverName is successfully sended !</h2><br>
			<!-- <button id="login-button1" ion-button color="dark">
				#ORD2017110201
			</button> -->
			<h3 style="color: #051c46">
				CODE: XZU5H7L
			</h3>
			<br>

			<h3>You have nothing more to do.After we receive the payment #Receiver will be contact within 36 hours for the delivery</h3><br>
			<br>
			<br>
			<br>
			<ion-icon name="cloud-download" style="font-size: 5em;"></ion-icon>
			<br>
			<!-- <h4 align="center" color="secondary">Send an another package</h4> -->
			<button id="login-button1" ion-button color="secondary" clear block>
				Send an another package
			</button>
		</div>		
	</ion-card>

	<div class="spacer" style="height:15px;" id="login-spacer4"></div>

	<!-- <div align="center">
		<button id="login-button1" ion-button color="default" round (click)="gotoHome()">
			BACK TO SHOP
		</button>
	</div> -->

</ion-content>