<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Terms of services</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <h3 align="center" style="margin: 5vh auto;">Terms of sales.</h3>
    
    <div style="padding: auto 1vh 1vh 1vh;margin: auto 2vh 10vh 2vh;">
        <p class="pinkLbl">1. Preamble</p>
        <div class="termsDesc">
            These general conditions of use and sale of the service under the Familov.com trade name exclusively govern the relationship between Familov.com and the user of the Service.
            
            <br><br>
            <div style="padding-left: 4vh;">
                1. Familov.com allows Users to order products or vouchers, on the internet, for individuals residing in Cameroon (the "Beneficiaries"). As soon as the payment of the order is validated, the Beneficiary is informed by Familov.com by means of a unique confidential code communicated by SMS.

                <br><br>
                2. The unique code provided by Familov.com allows the Beneficiary to take possession of the products from partner businesses, a list of which is available on the Familov.com website.
                
                <br><br>
                3. These general conditions of sale define the terms and conditions of an order on the site www.familov.com. The User recognizes when placing an order via the site to have read the general conditions of sale and expressly declares to accept them without reservation and does not require a handwritten signature of this document.
            </div>
        </div>
        
        <p class="pinkLbl">2. Opening of the account and conditions of use</p>
        <div class="termsDesc">
            The User certifies to be at least 18 years of age and have the legal capacity or to hold a parental authorization to open a user account with Familov.com and to make orders.
            
            <br><br>
            When creating the Account, the User communicates to Familov.com his name (s), first name (s). The User also communicates a valid e-mail address, chooses his username and a password. The username and password are proof of the identity of the User and commit to any order placed through them.

            <br><br>The user is the full and exclusive manager of his username and password. He alone will bear the consequences that may result from any use by third parties who knew of them, unless he demonstrates that the knowledge of his username and password by another person results from a fault of Familov. In case of forgetfulness of his password or his username or in case of fear that a third party could have knowledge of it, the user disposes on the site of a function allowing him to find his identifier and to choose a New Password.
        </div>
        
        <p class="pinkLbl">3. Using the Account and Ordering Products</p>
        <div style="padding-left: 4vh">
            * The Account is strictly personal, and can not be shared or exchanged with a third party.
            
            <br><br>
            * Orders are collected in Euros, legal currency in the European Monetary Union. In the event that the User does not reside in a country where the Euro is legal tender, the User will do his business with the bank holding the bank account of the exchange rate that will be applied for this purpose.

            <br><br>
            * The purchases made by the Users are made by internet, by means of a valid credit card, a paypal account or by bank transfer.
            
            <br><br>
            * For each order, the User indicates the identity (surname and first name) and the mobile phone number of the Beneficiary. The User receives a confirmation of the purchase made by e-mail.
            
            <br><br>
            * Familov.com undertakes to communicate by SMS to the Beneficiary designated by the User when ordering, a unique code to enter into possession of the products. In case of delays, losses, errors or omissions resulting from a breakdown of telecommunications, Familov.com can not be held responsible for the non-delivery of the SMS.
            
            <br><br>
            * The unique code provided by Familov.com is indispensable to the Beneficiary and must be presented to Partners to get possession of the products.
        </div>
        
        <p class="pinkLbl">4. Exclusion of service</p>
        <div class="termsDesc">Familov.com may suspend automatically and immediately the use of the Service by the User or the Beneficiary in case of suspicion of fraud, attempted fraud or fraud of these persons. Familov.com may suspend by right and immediately the use of the Service by the User for breaching any of his obligations such as failure to pay sums due at the time of an order.</div>

        <p class="pinkLbl">5. Personal data and control</p>
        <div class="termsDesc">
            The User must at all times ensure that the information provided by him is accurate and up-to-date. All boxes marked as mandatory in the registration procedure on the Site must contain valid information. Any attempt of fraud via the presentation of inaccurate information on the User or the Beneficiary will be communicated to the competent authorities and may lead to the immediate refusal of access to the Site and the Service.
            
            <br><br>
            Each User has a right of access to the data concerning him collected and processed by Familov.com as well as a right to modify and delete data concerning him. He authorizes Familov.com and its partners to transmit information. to the authorities in charge of regulation as required by law. The details of the User will not be disclosed to third parties, except with the express consent of the User
            
            <br><br>
            All information relating to any order on Familov.com is subject to data processing. This treatment aims to fight against fraud of all kinds. Payment service providers by credit card or bank and Familov are the beneficiaries of the data related to all orders. Any unpaid order or suspicion of fraud in the payment for any reason automatically cancels the order.
        </div>

        <p class="pinkLbl"> 6. Methods of payment</p>
        <div class="termsDesc">Payment is made by credit card, via Pay Pal, by bank transfer. In the absence of authorization to pay by credit card, the order is not made available to the User. Familov.com reserves the right not to respond to the order of a User for whom problems have already occurred. In the case of a payment by transfer, the user has a period of 7 days to send the settlement to the account of the Familov.</div>

        <p class="pinkLbl">7. Prices</p>
        <div class="termsDesc">The prices listed on the product lists and product sheets do not include the cost of home delivery. The total price indicated in the confirmation of the reception of the order includes the price of the products and if necessary the expenses of delivery.</div>

        <p class="pinkLbl">8. Delivery and withdrawal</p>
        <div class="termsDesc">
            Delivery times are 36 hours depending on the availability of the beneficiary. The beneficiary is required to check the condition of the products and the products opened or marked can not be returned.
            
            <br><br>
            The User communicates at the time of his order the name and mobile phone number of the recipient of the order in Cameroon. This phone number will be used to verify the identity of the Beneficiary during the delivery or withdrawal in the store.
            
            <br><br>
            <div style="padding-left: 5vh;">
                a- Delivery in a partner point:
                The User can choose to place the order at the disposal of his Beneficiary in a partner point of sale. The order will be available 36 hours after the payment. When the Beneficiary arrives at the partner point of sale, to withdraw his order he must:
                
                <br><br>
                * Present your identity document (national identity card)
                
                <br><br>
                * Present the SMS code of the telephone number registered for the Beneficiary when taking the order by the user

                <br><br>
                * Sign a delivery note
                
                <br><br>
                b- Home delivery:
                The user can opt for home delivery and products will be delivered within 36h working days after payment of the order. Familov then contacts the Beneficiary to schedule the delivery. If the mobile phone number indicated to reach the Beneficiary is not valid, Familov immediately informs the user by e-mail who then chooses either to cancel the order, or to communicate another mobile phone number; he has a delay of 24 hours from the mail received by Familov and the driver will then try again to join the Beneficiary to organize the delivery. Upon delivery,
            
                <br><br>
                * Present your identity document (national identity card)
                
                <br><br>
                * Present the SMS code of the telephone number registered for the Beneficiary when taking the order by the user
                
                <br><br>
                * Sign a delivery note
            
                <br><br>
                * Possible delays in delivery do not entitle the User to cancel the order, refuse the products or claim damages and interest.
            </div>
        </div>

        <p class="pinkLbl">9. Complaint and Retraction</p>
        <div class="termsDesc">In case of claim on the products, the User and the beneficiary have a maximum of 24 hours following delivery to make specific reservations and Familov.com reserves the right to analyze the merits of these and communicate his response to the User in the shortest possible time. The User has a right of withdrawal of seven working days. The retratation must be written form and does not apply to fresh and perishable products.</div>

        <p class="pinkLbl">10. Responsibility of Familov.com</p>
        <div class="termsDesc">
        Familov.com can only be held liable for proven facts that are exclusively and directly attributable to it. Only are likely to be compensated the direct damages and some suffered by the User.
        
        <br><br>
        Familov.com acting as intermediary can not be held liable for damages of any kind, material or immaterial or bodily that could result from theft or misuse of the Site. The responsibility of Familov.com can not be held liable for any risk inherent in the use of the internet, such as suspension of service, intrusion, the presence of computer viruses or shopping by a third party.
        
        <br><br>
        Familov.com can not be held responsible for errors made by the User or the Beneficiary in connection with the use of the Service.
        
        <br><br>
        Familov.com puts in place the means necessary for the smooth operation of the Service. As such, the responsibility of Familov.com will not be engaged in cases of force majeure within the meaning of the German case law.</div>

        <p class="pinkLbl">11. Liability of the User and the Beneficiary</p>
        <div class="termsDesc">
            * The Beneficiary must ensure the preservation of his mobile phone and the unique code communicated to him by Familov.com by SMS. The unique code transmitted by Familov.com is untransmissible and strictly for personal use. In the event that the Beneficiary makes a shared use of the mobile phone on which Familov.com sends the unique code to the Beneficiary, Familov.com can not be held responsible for withdrawals made by any other person using the mobile phone.
            
            <br><br>
            * As long as no objection has been made to Familov.com as a result of the loss or theft of the Recipient's mobile phone, the User and the Beneficiary assume the consequences of any withdrawals made.
            
            <br><br>
            * The Service must be used in compliance with these general conditions of use, the legislation in force and in accordance with the use for which it is intended.
            
            <br><br>
            * Familov.com disclaims any liability for the use of the Service that does not comply with these conditions.
        </div>

        <p class="pinkLbl">12. Formation of the contract and proof of the transaction</p>
        <div class="termsDesc">
            * The commands are summarized before the User is prompted to validate them. The User is then invited to "confirm the payment"; The validation of order by a click constitutes firm and final validation under the reservation referred to in the following paragraph.
            
            <br><br>
            * Any order with choice of payment by credit card is considered effective only when the payment centers concerned have given their agreement. In case of refusal of said centers, the order is automatically canceled and the user warned by a message on the screen.
            
            <br><br>
            * The computerized data, securely stored in the Familov.com computer systems will be considered as proof of communications, orders and payments between the parties. They are kept within the legal periods of commercial sale and can be produced as evidence.
        </div>

        <p class="pinkLbl">13. Confirmation, preparation and formation of the contract</p>
        <div class="termsDesc">
            Familov.com confirms to the User the receipt of his order by an email summarizing the products ordered, the means of payment chosen, the means of delivery chosen, the total invoice for the service and a unique order code.
            
            <br><br>
            Familov.com reserves the right not to accept an order, for a legitimate reason, such as a difficulty of supply of a product, a problem concerning the understanding of the order received (illegible document ...), a foreseeable problem concerning the delivery to be made (example: delivery requested in a geographical area where there is a proven risk of aggression) or due to the abnormality of the order made on the Familov.com site.
            
            <br><br>
            In the event that an order can not be accepted for one of the reasons mentioned above, Familov.com informs the User. The transfer of risks to the User occurs at the time of provision or delivery. The information given by the user, when placing an order, commits him: in case of error of the User in the wording of his details or those of the place of delivery, including his name, first name, address , telephone number, e-mail address or credit or debit card number, resulting in the loss of the products, the User remains responsible for the payment of the lost products.
        </div>

        <p class="pinkLbl">14. Financial conditions and service charges</p>
        <div class="termsDesc">
            The rates applicable by Familov.com are available on the Site these rates are subject to change. Familov.com will charge the User a commission for the use of the Service. This commission corresponds to € 2.50.
            
            <br><br>
            Subject to the right of withdrawal provided for in ARTICLE 9, the User gives irrevocable mandate to Familov.com to credit, for its order and for its account, the account of the Partner of the amount of the order made for the Beneficiary, minus all amounts due by the Partner to Familov.com, within the limit of the amount of the electronic sums credited to the Account.
        </div>

        <p class="pinkLbl">15. Products, availability and warranty</p>
        <div class="termsDesc">
            Familov.com makes available to the user before all the order all the essential characteristics of the products present in the catalogs published by familov.com and this according to the availability of the stocks. The legal warranty of the products available is ensured by the supplier and the manufacturer. The photographs that may accompany this description have no contractual value. The products offered by Familov are intended to be made available or delivered in Cameroon.
            
            <br><br>
            The order is executed no later than 7 working days from the working day following the day the buyer placed his order. However, in case of unavailability of the ordered product, especially because of our partner supermarkets, the User will be informed at the earliest. In such a case, familov undertakes to offer the buyer a similar product at a similar price.
            
            <br><br>
            The beneficiary benefits from the legal guarantee of conformity and latent defects on the products sold
        </div>

        <p class="pinkLbl">16. Provisions in case of dispute</p>
        <div class="termsDesc">
            The present conditions of sale on line are subject to the Allamande law. In case of dispute or claim, the User will first contact Familov.com for a direct conciliation of the parties. When a solution is not found one month after the claim, jurisdiction is assigned to the competent courts.
        </div>

        <p class="pinkLbl">17. Intellectual property</p>
        <div class="termsDesc">
            The Site, the applications and all the elements contained therein (information, data, sounds, images, drawings, graphics, distinctive signs, logos and brands) are the exclusive property of Familov.com. All of these elements are protected by intellectual property rights and as such, is protected against any unauthorized use by law.
            
            <br><br>
            It is strictly forbidden to use or reproduce the name Familov.com and / or its logo, alone or associated, for any purpose whatsoever, and in particular for advertising purposes, without the prior written consent of Familov. com.
            
            <br><br>
            It is also forbidden for the User to decompile or disassemble the Site, the applications, to use them for commercial purposes or to infringe in any way whatsoever the intellectual property rights of Familov.com
        </div>

        <p class="pinkLbl">18. General conditions</p>
        <div class="termsDesc">
            These terms and conditions come into force from its posting online. They govern any order placed until it is withdrawn.
            
            <br><br>
            It is strictly forbidden to use or reproduce the name Familov.com and / or its logo, alone or associated, for any purpose whatsoever, and in particular for advertising purposes, without the prior written consent of Familov. com.
            
            <br><br>
            Familov.com reserves the right to modify the Website, the service provided and the general conditions of use and invites the User to each new order to read carefully the general conditions of sale in force.
        </div>

        <p class="pinkLbl">19. Customer Service</p>
        <div class="termsDesc">
            For any difficulty, the user or the Beneficiary can contact Familov.com
            
            <br><br>
            * By email: hello@familov.com.
            
            <br><br>
            * By phone or Whatsapp: +49 1525 9948834
            
            <br><br>
            * Chat: www.familov.com
        </div>
    </div>
    
</ion-content>