page-home {

}

.howWorksNumber {
	border-radius: 50%;
	height: 7vh;
	width: 7vh;
	margin-bottom: 2vh !important;
    color: #FFF !important;
    font-weight: bold !important;
}

.grayBackground {
	background: #F3F3F3;
}

.rowPadding {
	margin: 2vh 0.5vh;
	padding: 1vh;
}

.toolbar-title-md {
	padding: inherit;
}

.headerTitle {
	padding: 10px 0px;
}
