<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="buttonWhiteFont">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
    	<ion-grid>
    		<ion-row>
    			<ion-col col-10 class="headerTitle">
    				<div align="center">Familov</div>
    			</ion-col>
    			<ion-col col-2 class="badgeCol">
					<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
					<span class="badgeIcon"> {{ cartItemsLen }}</span>
					<ion-icon name="cart" class="badgeIconCart" item-end (click)="openCartPage()"></ion-icon>
    			</ion-col>
    		</ion-row>
    	</ion-grid>
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- <h3 align="center">Welcome</h3> -->

  <div style="min-height: 10vh;padding: 3vh;">
    <!-- <ion-slides autoplay='2000' loop='true'>
    <ion-slide>
      <img src="assets/imgs/slide3.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide2.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide1.png">
    </ion-slide>
  </ion-slides> -->
  <div align="center">
	  <img src="assets/imgs/angel.png" style="height: 10vh; width: auto;">
	  <h1 class="main-header-title textBlue" align="center">How do you want to support your family today?</h1>
	</div>
</div>

<!-- <div class="spacer" style="height:20px;" id="login-spacer2"></div> -->
<!-- <hr> -->
  <!-- <h3 align="center">Our Products</h3> -->
  <!-- <h3 align="center">Search Products</h3> -->
  <h4 align="center" class="sub-header-title" >
  	Buy from abroad foods and basics needs <br>
  	we deliver your loved ones within 36 h.
  </h4>
<!-- <hr> -->

<!-- <ion-grid>
  <ion-row>
    <ion-col col-6 align="center" class="products">
        <img src="assets/imgs/slide2.png">
        <br>
        <span class="productTitle">Product 1</span>
        <button color="danger" class="moreDetails" ion-button (click)="viewProductDetails()">More Info</button>
    </ion-col>
    <ion-col col-6 align="center" class="products">
      <img src="assets/imgs/slide2.png">
      <br>
      <span class="productTitle">Product 2</span>
      <button color="danger" class="moreDetails" ion-button (click)="viewProductDetails()">More Info</button>
    </ion-col>
    <ion-col col-6 align="center" class="products">
      <img src="assets/imgs/slide3.png">
      <br>
      <span class="productTitle">Product 3</span>
      <button color="danger" class="moreDetails" ion-button (click)="viewProductDetails()">More Info</button>
    </ion-col>
    <ion-col col-6 align="center" class="products">
      <img src="assets/imgs/slide3.png">
      <br>
      <span class="productTitle">Product 3</span>
      <button color="danger" class="moreDetails" ion-button (click)="viewProductDetails()">More Info</button>
    </ion-col>
  </ion-row>
  </ion-grid> -->

<!-- <ion-card> -->
<div align="center">
<ion-item class="home-dropdown">
  <ion-label> <ion-icon color="light" name="pin"></ion-icon> &nbsp;Receiver Country</ion-label><!-- planet -->
  <ion-select [(ngModel)]="receiver_country" (ionChange)="getCityList($event)"><!-- placeholder="Receiver Country" -->
  		<ion-option *ngFor="let country of CountryList" value="{{ country.country_id }}"> {{ country.country_name }} </ion-option>
  </ion-select>
</ion-item>

<ion-item class="home-dropdown">
  <ion-label> <ion-icon color="light" name="pin"></ion-icon> &nbsp;Receiver City</ion-label><!-- navigate -->
  <ion-select [(ngModel)]="receiver_city" (ionChange)="getShopList($event)"><!-- placeholder="Receiver City" -->
    <ion-option *ngFor="let city of CityList" value="{{ city.city_id }}"> {{ city.city_name }} </ion-option>
  </ion-select>
</ion-item>


<ion-item class="home-dropdown">
  <ion-label> <ion-icon color="light" name="briefcase"></ion-icon> &nbsp;Receiver Shop</ion-label><!-- locate -->
  <ion-select [(ngModel)]="receiver_shop"><!-- placeholder="Receiver Shop" -->
    <ion-option *ngFor="let shop of ShopList" value="{{ shop.shop_id }}"> {{ shop.shop_name }} </ion-option>
  </ion-select>
</ion-item>
</div>
<div align="center">
	<br>
	<button color="secondary" ion-button (click)="searchProducts()" style="width: 47vh;" class="home-dropdown login-button">Enter</button>
	<br>
	<button color="secondary" ion-button (click)="goToHelp()" style="width: 20vh;text-transform: none;" clear>Need help?</button>
</div>

<!-- </ion-card> -->

<!-- <hr>
	<h3 align="center" style="color: #302E64;font-weight: bold;text-transform: uppercase;">How it works</h3>
	
	<hr>
	
	<ion-card class="grayBackground">
		<div align="center" style="padding: 10px;">
			<h2 class="howWorksNumber" color="secondary" ion-button>1</h2>
			<br>
			<ion-icon name='cart' class="bigIcon" color="secondary"></ion-icon>
			<br><br>
			<h2><b>Make the choice online</b></h2>
			<h3 style="margin: 2vh;padding: 3vh;">Choose the products you want to offer and tell us the name and phone number of the recipient.</h3>
		</div>		
	</ion-card>

	<ion-card class="grayBackground">
		<div align="center" style="padding: 10px;">
			<h2 class="howWorksNumber" color="secondary" ion-button>2</h2>
			<br>
			<ion-icon name='cloud-done' class="bigIcon" color="secondary"></ion-icon>
			<br><br>
			<h2><b>Pay securely</b></h2>
			<h3 style="margin: 2vh;padding: 3vh;">Use the secure method of payment that suits you - credit card (VISA, MASTER) or your PayPal account.</h3>
		</div>		
	</ion-card>

	<ion-card class="grayBackground">
		<div align="center" style="padding: 10px;">
			<h2 class="howWorksNumber" color="secondary" ion-button>3</h2>
			<br>
			<ion-icon name='chatbubbles' class="bigIcon" color="secondary"></ion-icon>
			<br><br>
			<h2><b>SMS withdrawal code</b></h2>
			<h3 style="margin: 2vh;padding: 3vh;">We send the details of your package to the store and the unique SMS withdrawal code to the recipient.</h3>
		</div>		
	</ion-card>

	<ion-card class="grayBackground">
		<div align="center" style="padding: 10px;">
			<ion-icon name="checkmark-circle-outline" class="bigIcon" color="secondary"></ion-icon>
			<br>
			<ion-icon name='cube' class="bigIcon" color="secondary"></ion-icon>
			<br><br>
			<h2><b>Delivery and confirmation</b></h2>
			<h3 style="margin: 2vh;padding: 3vh;">The package is prepared and the beneficiary is contacted within 36 H * for delivery and you receive confirmation that everything went well.</h3>
		</div>		
	</ion-card>
<hr>

<div class="grayBackground" align="center" style="padding: 1vh;">
	<h3 align="center" style="margin-top: 1vh;">Unbeatable hardships</h3>
	<ion-grid>
		<ion-row class="rowPadding">
			<ion-col col-6>
				<ion-icon name="card" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
			<ion-col col-6>
				<ion-icon name="lock" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
		</ion-row>

		<ion-row class="rowPadding">
			<ion-col col-6>
				<ion-icon name="lock" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
			<ion-col col-6>
				<ion-icon name="laptop" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
		</ion-row>

		<ion-row class="rowPadding">
			<ion-col col-6>
				<ion-icon name="people" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
			<ion-col col-6>
				<ion-icon name="help-circle" class="bigIcon" color="primary"></ion-icon><br><br>
				<b>Send more, buy less</b><br>
				Save up to 95% vs. traditional money transfer provider and local price Guarantee!
			</ion-col>
		</ion-row>

	</ion-grid>
</div> -->
<br>
<br>
<br>
  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->

  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
