// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

.toast-wrapper{
  text-align: center !important;
  border-bottom: 2px solid #fff;
}

.toast-success > .toast-wrapper {
  background-color: #32db64 !important;
}
.toast-error > .toast-wrapper {
  background-color: #f53d3d !important;
}
.toast-warning > .toast-wrapper {
  background-color: #f39c12 !important;
}

.text-navyblue-fam{
  /*color:#353559;*/
  /*color:#3b5998;*/
  color:#193778;
}

.text-green-fam{
  color:#36cd75;
}

.view-cart-pc-text{

}
.text-bold{
  font-weight: bold;
}
.text-red{
  color: #f53d3d !important;
}
.text-lightgray{
  color: lightgray !important;
}

.view-cart-qty-minus{
  padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em; color:#666;
}
.view-cart-qty-plus{
  padding-left: 4px; padding-top: 1px;width:20px;height:20px;border: 1px solid;border-radius: 50%;font-size: 1em;
}
.remember-me{
  margin-left: 4vh;font-size: 15px; font-weight: bold;color:#193778;
}
.forgot-password-link{
  float: right;color:#36cd75;font-size: 15px;font-weight: bold;
}

.button-md-secondary{
  background-color: #36cd75 !important;
}
.toolbar-background{
  background-color: #36cd75 !important;
}
.alert-title{
  text-align: center !important;
}

.icon-md-light {
  color: #dbdbdb !important;
}
.button-md {
  text-transform: none  !important;
}

.alert-md [aria-checked=true] .alert-radio-icon{
  border-color: #36cd75 !important;
}
.alert-md .alert-radio-inner{
  background-color: #36cd75 !important;
}
.alert-md [aria-checked=true] .alert-radio-label{
  color: #000 !important;
}


/** Home Page */
.main-header-title{
  font-size: 2.4rem;
  font-weight: bold;
}
.sub-header-title{
  font-size: 1.6rem;
  font-weight: bold;
  color: lightgray;
}
.select-md .select-icon .select-icon-inner{
  color: #36cd75 !important;
}
.home-dropdown{
  border: 1px solid #eee; margin: 1vh 0vh;max-width: 75%;
}
/** Login Screen */
.login-button{
  background-color: #36cd75 !important;
  text-transform: none !important;
  font-weight: bold !important;
  /*width: 100% !important;*/
}


/* Cart Page */

.view-cart-sel-pro{
  color:#BABAC4;
}
.view-cart-empty{
  color:#353559;
}
.view-cart-oop{
  color:#BABAC5;
}

.view-cart-pc-text{
  background: #FFF;color:#000;left: 0;position: 6.5vh;width: 100%;
  margin-top: 1vh;
  margin-bottom: 5vh;
}