<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>About US</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>

    <h3 align="center" style="margin: 5vh auto;">Familov is a web platform that allows people living abroad to purchase products and services from local stores and have them delivered to their families back home.</h3>

    <div align="center">
        <img src="assets/imgs/teamwork.png" style="max-height: 150px;">
        <p>"We are an entrepreneurial social and collaborative venture, with a real mission ...</p>
    </div>
    
    <div align="center" style="margin-top: 5vh;padding: 1vh;">
        <h3>Why us ?</h3>
        <p>
            Far from the major international institutions, the African diaspora remains the continent's largest donor. In 2015, the equivalent of $ 35 billion was transferred by expatriate African communities to their relatives who remained in the countries of origin. An invaluable gain, but part of the value remains confiscated upstream because of high commissions, which can easily exceed the 10% threshold. Sometimes 15%. A shortfall for the families who receive the funds.
        </p>
    </div>

    <ion-card style="background: #36cd75;padding: 1vh;color: #FFF;">
        <div align="center" style="margin-top: 1vh;">
            <h1>Our Mission</h1>
            <p>Maximize the financial, social and human impact of money transfer</p>
        </div>
    </ion-card>

    <ion-card style="background: #36cd75;padding: 1vh;color: #FFF;">
        <div align="center" style="margin-top: 1vh;">
            <h1>Price</h1>
            <p>Social Innovation Award at the start of Google Week-End Saar 2015</p>
        </div>
    </ion-card>
    

    <h1 align="center" style="margin-top: 2vh;">Our value</h1>
    
    <ion-card style="padding: 2vh;margin-bottom: 2vh;">
        <div align="center" style="margin-top: 1vh;">
            <ion-icon name="thumbs-up"></ion-icon>
            <h3>Embrace transparency</h3>
            <p>We value and respect our customers and partners. If it was not for them, we would not be us.</p>
        </div>
    </ion-card>

    <ion-card style="padding: 2vh;margin-bottom: 2vh;">
        <div align="center" style="margin-top: 1vh;">
            <ion-icon name="football"></ion-icon>
            <h3>Positive impact</h3>
            <p>We care about each other and believe in the relationships in which people value and support each other.</p>
        </div>
    </ion-card>

    <ion-card style="padding: 2vh;margin-bottom: 2vh;">
        <div align="center" style="margin-top: 1vh;">
            <ion-icon name="heart"></ion-icon>
            <h3>Passion</h3>
            <p>We like to help our clients achieve their goals, take care of their loved ones or simply increase their savings.</p>
        </div>
    </ion-card>

</ion-content>