<ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<!-- Change Password -->
			<ion-grid>
	    		<ion-row>
	    			<ion-col col-10 class="headerTitle">Change Password</ion-col>
	    			<ion-col col-2 class="badgeCol">
						<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
						<span class="badgeIcon"> {{ cartItemsLen }}</span>
						<ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
	    			</ion-col>
	    		</ion-row>
	    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page5">
	
	<div class="spacer" style="height:20px;" id="login-spacer1"></div>
	<!-- <h2 align="center">Enter password and confirm password to change your account password.</h2> -->
	<h2 align="center">Change my password.</h2>
	<br>
	<div align="center"><ion-icon name="lock" color="secondary" style="font-size: 4em"></ion-icon></div>
	<div class="spacer" style="height:20px;" id="login-spacer2"></div>

	<form id="login-form1" (ngSubmit)="submitRequest()" style="margin: 2vh 5vh;">
		<ion-list id="login-list1">
			<ion-item id="login-input1" style="border: 1px solid #EEE;margin: 1vh auto;">
				<ion-label><!-- floating -->
					<ion-icon name="lock"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="Old Password" [(ngModel)]="changePass.current_password" name="current_password"></ion-input>
			</ion-item>
			<ion-item id="login-input1" style="border: 1px solid #EEE;margin: 1vh auto;">
				<ion-label><!-- floating -->
					<ion-icon name="lock"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="New Password" [(ngModel)]="changePass.new_password" name="new_password"></ion-input>
			</ion-item>
			<ion-item id="login-input1" style="border: 1px solid #EEE;margin: 1vh auto;">
				<ion-label><!-- floating -->
					<ion-icon name="lock"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="Confirm Password" [(ngModel)]="changePass.repeat_new_password" name="repeat_new_password"></ion-input>
			</ion-item>
		</ion-list>

		<div class="fixed-outside" style="position: fixed;bottom: 0;left: 0;width: 100%;" align="center">
			<button type="submit" color="secondary" ion-button block style="text-transform: none;margin-bottom: 0;padding: 1em;font-size: 20px;" icon-right>Change <ion-icon name="checkmark"></ion-icon></button>
		</div>

	</form>


</ion-content>