
<ion-menu [content]="content">
	<!-- <ion-header>
		<ion-toolbar>
			<ion-title>Menu</ion-title>
		</ion-toolbar>
	</ion-header> -->

	<ion-content>

		<div class="grayBackground" *ngIf="IsUserLogin">
			<div class="spacer" style="width:268px;height:20px;" id="famiLov-spacer4"></div>
			<div>
				<img src="assets/imgs/avatar.ico" style="display:block;width:130px;height:130px;margin-left:auto;margin-right:auto;border-radius: 50%;border: 1px solid #FFF;" />
			</div>
			<h3 align="center">{{ LoginUser.username }} {{ LoginUser.last_name }}</h3>
			<div class="spacer" style="width:268px;height:10px;" id="famiLov-spacer5"></div>
		</div>

		<div class="grayBackground" align="center" *ngIf="!IsUserLogin">
			<div class="spacer" style="width:268px;height:20px;" id="famiLov-spacer4"></div>
			<img src="assets/imgs/attention (1).png" style="display:block;width:55px;height:55px;margin-left:auto;margin-right:auto;" />
			<h3 align="center">Please login or signup</h3>
			<ion-grid>
				<ion-row>
					<ion-col col-6 style="padding: 3px;">
						<button class="signupBtn" ion-button menuToggle (click)="openSignup()">
						Sign up
						</button>
					</ion-col>
					<ion-col col-6 style="padding: 3px;">
						<button style="width: 100%;height: 2.3em;text-transform: none;font-size: 20px;font-weight: bold; " ion-button color="secondary" menuToggle (click)="openLogin()">
						Login
						</button>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>

		<ion-list>
			<ion-item color="none" menuClose *ngFor="let p of pages" (click)="openPage(p)" id="famiLov-menu-{{p.title}}">
				{{p.title}}
				<ion-icon name="{{p.icon}}" color="secondary" item-start></ion-icon>
			</ion-item>
		</ion-list>
		<br>
		<div class="fixed-outside" style="position: fixed;bottom: 0;left: 0;width: 100%;background: #FFF;" align="center">
			<button *ngIf="IsUserLogin" class="button-md-height" color="secondary" ion-button block style="margin-bottom: 0px;" (click)="logoutUser()">Logout</button>
			<ion-label *ngIf="!IsUserLogin" class="button-md-height" style="margin-bottom: 1vh;">2017@FamiLov</ion-label>
		</div>

	</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>