// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.grayBackground {
	background: #EEE;
}

.signupBtn {
	width: 100%;
	height: 2.3em;
	text-transform: none;
	font-size: 20px;
	font-weight: bold;
	background: darkgrey;
}

.toolbar-background {
	/*background-color: #EE2982;*/
	background-color: #32db64;
	color: #FFF;
}

.toolbar-title {
	color: #FFF !important;
	font-weight: bold;
	letter-spacing: 2px;
}

.alert-ios, .alert-md {
	overflow-x: hidden;
}

.alert-md .alert-radio-label {
	white-space: normal !important;
}

.buttonWhiteFont {
	color: #FFF;
}

.back-button.show-back-button {
	color: #FFF;
}

/*.badgeIcon {
	margin-right: -1vh;
    margin-top: -1vh;
    float: right;
    background: #EE2982;
    border-radius: 50%;
    width: auto;
    text-align: center;
    position: inherit;
    min-width: 4vh;
}*/

.badgeIcon {
  float: right;
  background: #EE2982;
  border-radius: 50%;
  width: auto;
  text-align: center;
  position: absolute;
  min-width: 25px;
  top: 0;
  right: -10px;
}

.badgeCol {
	display: inline-table;
	max-width: min-content;
}

.item80 {
	width: 80%;
}

.item70 {
	width: 70%;
}

.textBlue {
	/*color: #3b5998;*/
	color: #193778;
}

.textRight {
	text-align: right;
}

.borderBottomGray {
	border-bottom: 1px solid gray;
}

.item-md.item-input.ng-valid
.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
.item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
.item-inner,
.input-has-focus {
	border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 -1px 0 0 #32db64;
    /*border-bottom-color: #EEE;*/
    /*-webkit-box-shadow: inset 0 -1px 0 0 #EEE;*/
    /*box-shadow: inset 0 -1px 0 0 #EEE;*/
}
.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
/*  border-bottom-color: #488aff;
  -webkit-box-shadow: inset 0 -1px 0 0 #488aff;
  box-shadow: inset 0 -1px 0 0 #488aff;*/
  border-bottom-color: #32db64;
    -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
    box-shadow: inset 0 -1px 0 0 #32db64;

}
ion-input {
	color: #32db64;
}

.toast-success > div {
  background-color: #32db64;
}
.badgeCol > .ion-md-cart{
  font-size: 1.6em;
}
.proImg{
  min-height: 100px;
}

.selectedCategory{
  padding-bottom: 7px !important;
}

.ion-card-scroll  {
  padding-bottom: 7px !important;
}
.price-box{
  background: #36cd75;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-left: 0px;
  width: 45px;
  height: 45px;
  padding-top: 13px;
  border-radius: 50px;
  margin-left: 1vh;
  position: absolute;
}
