<ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
	    		<ion-row>
	    			<ion-col col-10 class="headerTitle"><div align="center">Product Details</div></ion-col>
	    			<ion-col col-2 class="badgeCol">
	    				<!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
	    				<span class="badgeIcon"> {{ cartItemsLen }}</span>
						<ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
	    			</ion-col>
	    		</ion-row>
	    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding id="page5" class="grayBackground">
	
	<div class="spacer" style="height:30px;" id="login-spacer2"></div>

   <!-- <ion-slides autoplay='2500' loop='true'>
    <ion-slide>
      <img src="assets/imgs/slide3.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide2.png">
    </ion-slide>
    <ion-slide>
      <img src="assets/imgs/slide1.png">
    </ion-slide>
  </ion-slides> -->

  <ion-card>
  	<div align="center">
  		<img src="{{ productDetails.product_image }}" style="max-height: 150px;width: auto;"  class="proImg" >
  		<br>
  		<p style="margin-top: 5vh;font-size: 20px;"><b>{{ productDetails.product_name }}</b></p>
  		<p style="margin-top: 5vh;font-size: 18px;" *ngIf="productDetails.spec_price > 0">
  			<small style="margin-right: 5vh; text-decoration: line-through; " >
  				<span [innerHtml]="currencySymbol">{{ currencyName }}</span>
  				{{ productDetails.convert_product_prices }}
			</small>
  			<b style="color: #32db64;" >
  				<span [innerHtml]="currencySymbol">{{ currencyName }}</span>
  				{{ productDetails.convert_special_product_prices }}
  			</b>
		</p>
		<p style="margin-top: 5vh;font-size: 18px;" *ngIf="productDetails.spec_price == 0">
			<b style="color: #32db64;" >
				<span [innerHtml]="currencySymbol">{{ currencyName }}</span>
				{{ productDetails.convert_product_prices }}
			</b>
		</p>

  	</div>
  </ion-card>

	<div class="spacer" style="height:25px;" id="login-spacer4"></div>

	<!-- <ion-card>
		<ion-grid>
			<ion-row class="ionRow">
				<ion-col col-4>
					<b>Name:</b>
				</ion-col>
				<ion-col col-8>
					Product name
				</ion-col>
			</ion-row>

			<ion-row class="ionRow">
				<ion-col col-4>
					<b>Details:</b>
				</ion-col>
				<ion-col col-8>
					Product description
				</ion-col>
			</ion-row>

			<ion-row class="ionRow">
				<ion-col col-4>
					<b>Price:</b>
				</ion-col>
				<ion-col col-8>
					$100.00
				</ion-col>
			</ion-row>

		</ion-grid>

		<div align="center" style="margin: 1.5vh">
			<button color="dark" ion-button (click)="presentAlert()" style="width: 25vh;">Add to cart</button>
		</div>

	</ion-card> -->

	<!-- <ion-card style="padding: 3vh;"> -->
		<div style="padding: 3vh;margin-bottom: 5vh;">
			<h2 style="font-weight: bold;">
				Description
			</h2>
			<p style="color: lightgrey;text-transform: none;" [innerHtml]="productDetails.product_desc"></p>
		</div>
	<!-- </ion-card> -->


<div class="fixed-outside" style="position: fixed;bottom: 0;width: 100%;background: #FFF;" align="center">

	<ion-grid style="padding: 0px;margin: 0px 5px;">
		<ion-row>
			<ion-col col-6>
				<!-- <button color="secondary" ion-button>TEST</button> -->
				<ion-grid style="margin-top: 1vh;">
					<ion-row style="max-width: 20vh;">
						<ion-col col-4 style="padding: 0px 5px;color: lightgray !important;">
							<ion-icon style="color: lightgray !important;" (click)="subQty()" name="remove-circle" style="font-size: 2.1em;"></ion-icon>
						</ion-col>
						<ion-col col-4><!-- style="border: 1px solid;" style="padding: 0px 5px;" -->
							<ion-label style="margin: 2px 0 0px 0;font-weight: bold;">{{ productDetails.qty }}</ion-label>
							<!-- <ion-input type="number" name="qty1" [(ngModel)]="productDetails.qty" style="background: gray;max-width: 70%;color: #FFF;"></ion-input> -->
						</ion-col>
						<ion-col col-4 style="padding: 0px 5px;">
							<ion-icon color="secondary" (click)="addQty()" name="add-circle" style="font-size: 2.1em;"></ion-icon>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-col>
			<ion-col col-6>
				<button color="secondary" style="width: 90%;margin-top: 1vh;" ion-button (click)="addProductToCart(productDetails,'add')">Add to cart</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</div>

</ion-content>