page-products {

}
.products {
	height: 30vh;
	min-height: fit-content;
	/*border: 1px solid #000;*/
    padding: 10px;
    /*margin: 1vh;*/
    /*margin-bottom: 5vh;*/
    margin: 0vh 0vh 1vh 1vh;
    max-width: 46.2%;
}
.productTitle {
	color: midnightblue;
	height: 10px;
	font-size: 15px;
	line-height: 3vh !important;
	font-weight: bold;
}
.moreDetails {
	height: 2em;
	width: 100%;
}
.proImg {
	max-height: 100px;
}

.priceLbl {
	color: green;
    font-weight: bold;
}



.scroll-zoom-wrapper {
	white-space: nowrap;
	display: flex !important;
	border-bottom: 1px solid #E0E0E0;
}

.ion-card-scroll {
	background: none;
	/*min-width: 30vh !important;*/
	/*display: inline-block;*/
	margin: auto 2vh;
}

.ion-scroll-hor {
	min-height: 25px;
	height: 25px;
}
.scroll-content {
	padding: 0px !important;
}

.selectedCategory {
	border-bottom: 1px solid green;
    /*padding: 5px !important;*/
    /*margin: 5px auto;*/
    /*margin-top: 1px;*/
    background: no-repeat;
    color: #3b5998 !important;
    font-weight: bold;
}
