<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="buttonWhiteFont">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-grid>
                <ion-row>
                    <ion-col col-8 class="headerTitle"><div align="center">Shop</div></ion-col>
                    <ion-col col-2>
                        <ion-icon name="search" *ngIf="!showSearchBar" item-end (click)="showSearch()"></ion-icon>
                        <ion-icon name="close" *ngIf="showSearchBar" item-end (click)="hideSearch()"></ion-icon>
                    </ion-col>
                    <ion-col col-2 class="badgeCol">
                        <!-- <ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon> -->
                        <span class="badgeIcon"> {{ cartItemsLen }}</span>
                        <ion-icon name="cart" item-end (click)="openCartPage()"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="page3" class="grayBackground">
    <div style="background: #FFF" style="position: fixed; width: 100%; background: #FFF; z-index: 99999999;">
        <ion-input *ngIf="showSearchBar" (change)="filterProducts($event.target.value)" type="text" placeholder="Search" style="margin-top: 1vh;border-bottom: 1px solid #eee;"></ion-input>
    </div>

    <ion-grid id="searchGrid" *ngIf="all_total_products > 0">
        <ion-row>
            <ion-col col-3>
                <div align="center"><img src="assets/imgs/shopbanner-icon.png" style="max-height: 8vh;" /></div>
            </ion-col>
            <ion-col col-9>
                <h4 class="textBlue" style="font-weight: bold;margin-bottom: 2px;margin-top: 1vh;">{{ shop_info.shop_name }}</h4>
                <!-- <span>TEST Shop name display</span> -->
            </ion-col>
        </ion-row>
    </ion-grid>

    <hr>
    <ion-scroll scrollX="true" direction="x" class="ion-scroll-hor" style="margin-top: 2vh;margin-bottom: 2vh;" *ngIf="all_total_products > 0">
        <button clear class="ion-card-scroll selectedCategory category_list_btn" color="secondary" (click)="filterProductByCategory(-1)" id="cat_id_0" style="margin-top: 1px;color: lightgray;line-height: 1vh;">
            All Products
        </button>
        <button clear class="ion-card-scroll category_list_btn" *ngFor="let category of category_list" color="secondary" (click)="filterProductByCategory(category.category_id)" id="cat_id_{{category.category_id}}" style="margin-top: 1px;color: lightgray;line-height: 1vh;">
            {{ category.category_name }}
        </button>
    </ion-scroll>
    <!-- <hr> -->
    <div align="center">
        <ion-grid *ngIf="all_total_products > 0">
            <ion-row>
                <ion-col col-6 align="center" class="products" *ngFor="let product of product_list" style="background: #FFF;color: #000;">
                    <div class="price-box" *ngIf="product.discount != 0">{{ product.discount }}</div>
                    <img src="{{ product.product_image }}" class="proImg" (click)="viewProductDetails(product)">
                    <br>
                    <p class="productTitle" (click)="viewProductDetails(product)">{{ product.product_name | slice:0:20 }} {{ product.product_name.length > 20 ? '....' : '' }} </p>
                    <br>
                    <span class="priceLbl" *ngIf="product.convert_special_product_prices > 0">
                        <small style="margin-right: 5vh; text-decoration: line-through;color: #9c9191;" >
                            <span [innerHtml]="currencySymbol">{{ currencyName }}</span>
                            {{ product.convert_product_prices }}
                        </small>
                        <span [innerHtml]="currencySymbol">{{ currencyName }}</span> {{ product.convert_special_product_prices }}
                    </span>
                    <span class="priceLbl" *ngIf="product.convert_special_product_prices == 0">
                        <span [innerHtml]="currencySymbol">{{ currencyName }}</span> {{ product.convert_product_prices }}
                    </span>
                    <button color="secondary" class="moreDetails" ion-button (click)="addProductToCart(product)">Add to cart</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" style="opacity: 1;z-index: 9999999;">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-grid style="margin-bottom: 5vh;" *ngIf="all_total_products == 0">
        <ion-row>
            <ion-col col-12 align="center" style="background: #FFF;color: #000;">
                <img src="assets/imgs/tired.png" style="margin-top: 5vh;max-height: 15vh;">
                <br>
                <h1 class="view-cart-empty">Products are not available in this shop!<br>Please try another shop.</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->

  <div class="fixed-outside" style="position: fixed;bottom: 0;left: 0;width: 100%;" align="center" *ngIf="isValidateShow">
    <button class="button-md-height" color="secondary" ion-button icon-right block style="margin-bottom: 0px;text-transform: none;height: 2.5em;">Validate <ion-icon name="arrow-forward"></ion-icon></button>
  </div>


</ion-content>
