<!-- <ion-header>
	<ion-navbar>
		<button ion-button menuToggle class="buttonWhiteFont">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<ion-grid>
    		<ion-row>
    			<ion-col col-8 class="headerTitle">Signup</ion-col>
    			<ion-col col-4><ion-icon class="right" name="cart" item-end (click)="openCartPage()"></ion-icon></ion-col>
    		</ion-row>
    	</ion-grid>
		</ion-title>
	</ion-navbar>
</ion-header> -->

<ion-content padding id="page7">
	
	<ion-grid>
		<ion-row>
			<ion-col col-2>
				<ion-icon color="secondary" name="arrow-back" (click)="goBack()" style="margin-top: 2vh;"></ion-icon>
			</ion-col>
			<ion-col col-8>
				<img src="assets/imgs/familov-logo.png" style="max-height: 10vh;">
			</ion-col>
		</ion-row>
	</ion-grid>

	<div class="spacer" style="height:15px;" id="login-spacer1"></div>
	<div align="center"><img src="assets/imgs/laugh.png" style="max-height: 15vh;" /></div>
	<h2 align="center" style="color: lightgray;">Register  <b class="textBlue">It's free !</b></h2>
	<!--<div align="center">
		<button id="login-button1" icon-right ion-button color="default" style="background: #3b5998 !important;width: 40vh;">
			With Facebook
			<ion-icon name="logo-facebook"></ion-icon>
		</button>
	</div>-->
	<h4 align="center" style="color: lightgray;">Create your account.</h4>
	<div class="spacer" style="height:15px;" id="login-spacer2"></div>

	<form id="signup-form3" (ngSubmit)="doSignup()" method="post">
		<ion-list id="signup-list3">

			<ion-item id="signup-input5" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- Nick Name -->
					<ion-icon name="person" color="light"></ion-icon>
				</ion-label>
				<ion-input type="text" placeholder="Nickname" [(ngModel)]="signupData.first_name" name="first_name"></ion-input>
			</ion-item>

			<ion-item id="signup-input5" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- Name -->
					<ion-icon name="contact" color="light"></ion-icon>
				</ion-label>
				<ion-input type="text" placeholder="Name" [(ngModel)]="signupData.last_name" name="last_name"></ion-input>
			</ion-item>
			
			<ion-item id="signup-input6" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- E-mail -->
					<ion-icon name="mail" color="light"></ion-icon>
				</ion-label>
				<ion-input type="email" placeholder="E-mail" [(ngModel)]="signupData.email" name="email"></ion-input>
			</ion-item>
			
			<ion-item id="signup-input6" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- Phone -->
					<ion-icon name="call" color="light"></ion-icon>
				</ion-label>
				<ion-input type="number" placeholder="Phone" [(ngModel)]="signupData.phone_number" name="phone_number"></ion-input>
			</ion-item>

			<ion-item id="signup-input7" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- Password -->
					<ion-icon name="lock" color="light"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="Password" [(ngModel)]="signupData.password" name="password"></ion-input>
			</ion-item>

			<ion-item id="signup-input7" class="item80" style="border: 1px solid #eee;margin: 1vh auto;">
				<ion-label>
					<!-- Confirm Password -->
					<ion-icon name="lock" color="light"></ion-icon>
				</ion-label>
				<ion-input type="password" placeholder="Confirm Password" [(ngModel)]="signupData.repeat_password" name="repeat_password"></ion-input>
			</ion-item>

		</ion-list>

		<p align="center" style="font-size: 12px;">
			<!-- By clicking Signup you agree to the <a>Terms</a> and <a>Services</a>. -->
			By creation an account you accept our <a class="text-green-fam" (click)="goToTerms()">Terms of service</a>
			<br>
			<!-- Do you already have a Familov account? <br>
			<button id="login-button2" ion-button clear color="positive" (click)="goToLogin()">
				Connect
			</button> -->
		</p>

		<div align="center">
			<button id="signup-button5" ion-button color="secondary" style="width: 40vh;font-weight: bold;" type="submit">
				Create account
			</button>
		</div>

		<!-- <br> -->

		<p align="center">
			<b class="textBlue">Already have an account?</b>
			<a color="secondary" class="text-green-fam" ion-button (click)="goToLogin()" clear style="margin-top: -1px;text-transform: none;">
				Sign In
			</a>
		</p>

	</form>
</ion-content>