<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Frequently Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<h3 align="center" style="margin: 5vh auto;">Frequently Asked Questions</h3>

  <ion-card *ngFor="let d of frequentQuestions; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="background: #EEE;">
  <ion-card-content>
    <ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-label style="font-size: 15px;margin: 4px;" color="primary">{{ d.title }}</ion-label>
          </ion-col>
          <ion-col col-2 style="text-align: right;">
            <ion-icon style="font-size: 1.3em;" color="success" name="arrow-dropright" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-title>
    <div *ngIf="isGroupShown(i)" [innerHtml]="d.description"></div><!-- {{d.description}} -->
  </ion-card-content>
</ion-card>

<h3 align="center" style="margin: 5vh auto;">Payment</h3>

<ion-card *ngFor="let d of paymentQuestions; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}" style="background: #EEE;">
  <ion-card-content>
    <ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <ion-label style="font-size: 15px;margin: 4px;" color="primary">{{ d.title }}</ion-label>
          </ion-col>
          <ion-col col-2 style="text-align: right;">
            <ion-icon style="font-size: 1.3em;" color="success" name="arrow-dropright" [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-title>
    <div *ngIf="isGroupShown(i)" [innerHtml]="d.description"></div><!-- {{d.description}} -->
  </ion-card-content>
</ion-card>

  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
